html,
body,
header,
.view {
	height: 100%;
	font-family: 'Lato';
}

.salespadding {
	padding-top: 10px;
}


.padding {
	padding-top: 65px;
}

@media (max-width: 740px) {
	header {
		height: 1000px;
	}
}

.top-nav-collapse {
	background-color: #a3a1a1 !important;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}

@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: #888686 !important;
	}
}

.rgba-gradient {
	background: -webkit-linear-gradient(75deg, rgba(0, 0, 0, 0.7), rgba(97, 104, 109, 1.0) 100%);
	background: -webkit-gradient(linear, 75deg, from(rgba(0, 0, 0, 0.7), rgba(190, 21, 33, 0.6) 100%)));
	background: linear-gradient(to 75deg, rgba(0, 0, 0, 0.7), rgba(190, 21, 33, 0.6) 100%);
}

.card {
	background-color: rgba(136, 134, 134, 0.4);
}

.md-form label {
	color: #ffffff;
}

.shadowtext {
	color: white;
	text-shadow: 1px 2px 4px #000000;
}


	{
	% block style %
}

	{
	% endblock style %
}
div.cert {
	font-size: 13px;
}

div.work {
	font-size: 15px;
}

div .multilogo {
	font-family: 'Righteous';

}

div .multilogonav {
	font-family: 'Righteous';
	font-size: 28px;
}
