{% extends 'home/base.html' %} {% load static %} {% block nav %}
<li class="nav-item active">
	<a class="nav-link" href="{% url 'home:autos' %}">Autod</a>
	<span class="sr-only">(current)</span>
</li>
<li class="nav-item">
	<a class="nav-link" href="{% url 'home:forklift' %}">Tõstukid</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{% url 'sales:index' %}">Müük</a>
</li>
{% endblock nav %}
{% block content %}
<div class="container bannermargin">
	<div class="row justify-content-center">
		<div class="col-md-12 col-lg-9 col-sm-12 col-12 white-text autosmargin">
			<h4 class="h4-responsive text-center font-weight-bold wow fadeInLeft shadowtext" data-wow-delay="0.3s">
				Autode remont-hooldus
			</h4>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<p class="wow fadeInRight text-left shadowtext" data-wow-delay="0.3s">
				Turvaline uksest ukseni teenindus:<br>
				Tehnoülevaatuse täisteenindus. Sõiduautode ja pakibusside keretööd. Meie teenused sobivad nii eraisikutele kui ettevõtetele, kes hindavad oma aega ning pikaajalist usaldusväärset koostööd. Mugav ja kiire auto remont ja hooldus Tartus ja selle lähiümbruses. Turvaline uksest-ukseni teenindus. Garanteerime Teie autoga heaperemeheliku käitumise.
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-12 col-lg-4 col-sm-12 col-12 white-text">
			<h4 class="h4-responsive font-weight-bold wow fadeInLeft text-center shadowtext" data-wow-delay="0.3s">
					Autode ja pakibusside keretööd
				</h4>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<p class="mb-3 wow fadeInRight text-left shadowtext" data-wow-delay="0.3s">
				Meil on olemas piisavalt suured ruumid, et teha hooldus- ning keretöid nii autodele kui ka pakibussidele.
			</p>
		</div>
		<div class="col-md-12 col-lg-4 col-sm-12 col-12 white-text">
			<h4 class="h4-responsive font-weight-bold wow fadeInLeft text-center shadowtext" data-wow-delay="0.3s">
				Haakekonksude müük ja paigaldus
			</h4>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<p class="mb-3 wow fadeInRight text-left shadowtext" data-wow-delay="0.3s">
				Saadaval lai valik haakekonkse nii sõiduautodele kui pakibussidele.
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-12 col-lg-4 col-sm-12 col-12 white-text">
			<h4 class="h4-responsive font-weight-bold wow fadeInLeft text-center shadowtext" data-wow-delay="0.3s">
				Varuosade müük
			</h4>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<p class="mb-3 wow fadeInRight text-left shadowtext" data-wow-delay="0.3s">
				Vajadusel leiame sobivad puuduolevad osad Teie autole.
			</p>
		</div>
		<div class="col-md-12 col-lg-4 col-sm-12 col-12 white-text">
			<h4 class="h4-responsive font-weight-bold wow fadeInLeft text-center shadowtext" data-wow-delay="0.3s">
				Tehnoülevaatuse täisteenindus
			</h4>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<p class="mb-3 wow fadeInRight text-left shadowtext" data-wow-delay="0.3s">
				Parandame auto turvaliseks – nii, et teedel oleks ohutu liigelda. Soovi korral käime Teie eest ka tehnoülevaatusel.
			</p>
		</div>
		<div class="row justify-content-center wow fadeInUp" data-wow-delay="0.3s">
		<div class="col-md-8 col-lg-8 col-sm-12 col-12 white-text">
		<div class="card">
			<div class="card-body">
				<img class="mx-auto rounded" src="{% static 'home/images/auto.jpg' %}" style="width:100%" />
			</div>
		</div>
	</div>
	</div>
	</div>
</div>
{% endblock content %}
{% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
