{% extends 'home/base.html' %} {% block style %} {% endblock style %} {% block nav %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:autos' %}">Autod</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:forklift' %}">Tõstukid</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
			<span class="sr-only">(current)</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'sales:index' %}">Müük</a>
		</li>
{% endblock nav %}
{% block content %}
	<div class="container multipadding">
		<h4 class="white-text text-center wow fadeInRight shadowtext" data-wow-delay="0.3s">
			<i class="material-icons">phone_in_talk</i><span style="padding-left: 10px;">Kontakt</span>
		</h4>
		<h6 class=" text-center wow fadeInLeft shadowtext" data-wow-delay="0.3s">
			<p>Multitech OÜ
				<br/> taivo@multitech.ee
				<br/>Reg.nr. 12523111
				<br/>KMKR nr. EE101718424
				<br/>IBAN EE182200221057998258, Swedbank
				<br/>Ringtee 43, Tartu 50105
			</p>

		</h6>
		<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
				<div class="row justify-content-center">
					{% if contact_list %}
					{% for contact in contact_list %}
					<div class="col-md-5 col-lg-4 col-sm-10 col-10  text-center shadowtext">
						<div class="card wow fadeInRight" data-wow-delay="0.3s">
							<div class="card-body">
						<img class="mx-auto rounded" src="{{ contact.contact_image.url }}" style="width:65%" /> {{ contact.contact_name }}<br> {{ contact.contact_position }}<br> {{ contact.contact_phone }}<br> {{ contact.contact_email }}
					</div>
					{% endfor %}
					{% else %}
					No contacts
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %} {% block javascript %} {{ block.super }} {% endblock javascript %} {% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
