{% extends 'home/base.html' %} {% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent-7">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:autos' %}">Autod</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:forklift' %}">Tõstukid</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
		</li>
	</ul>
</div>
{% endblock nav %} {% block body %}
<div class="mask rgba-gradient d-flex align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-xl-5 mb-4">
				<div class="card wow fadeInLeft" data-wow-delay="0.3s">
					<div class="card-body">
						<div class="text-center">
							<h3 class="white-text">
									<i class="material-icons">info_outline</i><span style="padding-left: 10px;">Kontakt</span>
								</h3>
						</div>
						{% for contact in contact_list %} {% if contact.contact_name %}
						<div class="col-md-5 col-lg-12 col-sm-10 col-10  text-center shadowtext">
							<img class="mx-auto rounded" src="{{ contact.contact_image.url }}" style="width:65%" /> {{ contact.contact_name }}<br /> {{ contact.contact_position }}<br /> {{ contact.contact_phone }}<br /> {{ contact.contact_email }}
						</div>
						{% endif %} {% endfor %}
						<div class="text-center mt-4">
							<input type="submit" class='btn btn-outline-white' value="Kontakteeru" onclick="window.location.href='mailto:info@mammutelement.ee'">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
				<h1 class="h1-responsive font-weight-bold wow fadeInRight logo" data-wow-delay="0.3s">
					Multitech
				</h1>
				<hr class="hr-light wow fadeInRight" data-wow-delay="0.3s">
				<h5 class="wow fadeInRight shadowtext boldfront" data-wow-delay="0.3s">
					Laotõstukid:
				</h5>
				<p class="wow fadeInRight shadowtext frontext" data-wow-delay="0.3s">
					Laotõstukite müük, varuosad, remont ja hooldus üle Eesti. Varuosad kohapeal ja puuduvate varuosade tellimine 1-2 päeva. Varuosade kiire saatmine üle Eesti.
				</p>
				<a class="btn btn-outline-white wow fadeInRight" data-wow-delay="0.3s" href="{% url 'home:about' %}">
					Lähemalt
				</a>
				<hr class="hr-light wow fadeInRight" data-wow-delay="0.3s">
				<h5 class="wow fadeInRight shadowtext boldfront" data-wow-delay="0.3s">
					Autod:
				</h5>
				<p class="wow fadeInRight shadowtext" data-wow-delay="0.3s">
					Turvaline uksest ukseni teenindus. Tehnoülevaatuse täisteenindus. Sõiduautode ja pakibusside keretööd. Meie teenused sobivad nii eraisikutele kui ettevõtetele, kes hindavad oma aega ning pikaajalist usaldusväärset koostööd.
				</p>
				<a class="btn btn-outline-white wow fadeInRight" data-wow-delay="0.3s" href="{% url 'home:about' %}">
					Lähemalt
				</a>
				<hr class="hr-light wow fadeInRight" data-wow-delay="0.3s">
			</div>

		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %} {% block javascript %} {{ block.super }} {% endblock javascript %} {% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
