{% extends 'home/base.html' %} {% load staticfiles %}
{% block nav %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:autos' %}">Autod</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:forklift' %}">Tõstukid</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'sales:index' %}">Müük</a>
		</li>
{% endblock nav %}
{% block content %}
	<div class="container multipadding">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-3 col-sm-12 col-12">
				<div class="card wow fadeInLeft multimargin" data-wow-delay="0.3s">
					<div class="card-body">
						<div class="text-center">
							<h3 class="white-text">
									<i class="material-icons">info_outline</i><span style="padding-left: 10px;">Kontakt</span>
								</h3>
								<h6 class="text-center wow fadeInLeft shadowtext" data-wow-delay="0.3s">
									<p>Multitech OÜ
										<br/> taivo@multitech.ee
										<br/>Ringtee 43, Tartu 50105
										<br/>Väike-Sepa 4, Tartu 50112
									</p>

								</h6>
						</div>
						<div class="text-center mt-4">
							<input type="submit" class='btn btn-outline-white' value="Kontakteeru" onclick="window.location.href='mailto:taivo@multitech.ee'">
						</div>
					</div>
				</div>
				<div class="card wow fadeInLeft" data-wow-delay="0.3s">
					<div class="card-body">
						<img class="mx-auto rounded" src="{% static 'home/images/DSC04227.jpg' %}" style="width:100%" />
						<img class="mx-auto rounded" src="{% static 'home/images/t6stukid.jpg' %}" style="width:100%" />
					</div>
				</div>
			</div>
			<div class="col-md-10 col-lg-6 col-sm-12 col-12 white-text">
				<h1 class="h1-responsive font-weight-bold wow fadeInRight multilogo" data-wow-delay="0.3s">
					Multitech
				</h1>
				<hr class="hr-light wow fadeInRight" data-wow-delay="0.3s">
				<h5 class="wow fadeInRight shadowtext boldfront" data-wow-delay="0.3s">
					Laotõstukid:
				</h5>
				<p class="wow fadeInRight shadowtext frontext" data-wow-delay="0.3s">
					Laotõstukite müük, varuosad, remont ja hooldus üle Eesti. Varuosad kohapeal ja puuduvate varuosade tellimine 1-2 päeva. Varuosade kiire saatmine üle Eesti.
				</p>
				<a class="btn btn-outline-white wow fadeInRight" data-wow-delay="0.3s" href="{% url 'home:forklift' %}">
					Lähemalt
				</a>
				<hr class="hr-light wow fadeInRight" data-wow-delay="0.3s">
				<h5 class="wow fadeInRight shadowtext boldfront" data-wow-delay="0.3s">
					Autod:
				</h5>
				<p class="wow fadeInRight shadowtext" data-wow-delay="0.3s">
					Turvaline uksest ukseni teenindus. Tehnoülevaatuse täisteenindus. Sõiduautode ja pakibusside keretööd. Meie teenused sobivad nii eraisikutele kui ettevõtetele, kes hindavad oma aega ning pikaajalist usaldusväärset koostööd.
				</p>
				<a class="btn btn-outline-white wow fadeInRight" data-wow-delay="0.3s" href="{% url 'home:autos' %}">
					Lähemalt
				</a>
				<hr class="hr-light wow fadeInRight" data-wow-delay="0.3s">
			</div>

		</div>
	</div>
{% endblock content %} {% block javascript %} {{ block.super }} {% endblock javascript %} {% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
