{% extends 'home/base.html' %} {% block style %} @media (max-width: 740px) { header { height: 1300px; } } {% endblock style %} {% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent-7">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:index' %}">Esileht</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'products:index' %}">Tooted ja Teenused</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'certs:index' %}">Sertifikaadid</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:work' %}">Tule Tööle</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:reference' %}">Referentsid</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="{% url 'blog:index' %}"></a>
			<span class="sr-only">(current)</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
		</li>
	</ul>
</div>
{% endblock nav %} {% block body %}

<div class="mask rgba-gradient d-flex justify-content-center align-items-center">
	<div class="container">
		<h4 class="white-text text-center wow fadeInRight" data-wow-delay="0.3s">Blogi</h4>
		<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
		<div class="card wow fadeInRight" data-wow-delay="0.3s">
			<div class="card-body">
				<div class="row justify-content-center" style="padding-bottom:30px;">
					{% if blogpost.image %}
					<div class="col-md-5 col-lg-3 col-sm-12 col-12 text-center shadowtext">
						<img class="mx-auto rounded" src="{{ blogpost.image.url }}" style="width:100%" />
					</div>
					{% endif %}
					<div class="col-md-5 col-lg-8 col-sm-12 col-12 shadowtext work">
						{{ blogpost.content|safe }}
					</div>
				</div>
				<!-- <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s"> -->
			</div>
		</div>
		<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
		{% if blogpost.get_previous_by_created %}
		<a style="float: left; color: #ffffff;" href="{% url 'blog:detail' blogpost.get_previous_by_created.id %}">{{ blogpost.get_previous_by_created.title }}</a>
		{% endif %}
		{% if blogpost.get_next_by_created %}
		<a style="float: right; color: #ffffff;" href="{% url 'blog:detail' blogpost.get_next_by_created.id %}">{{ blogpost.get_next_by_created.title }}</a>
		{% endif %}
	</div>
</div>
{% endblock body %} {% block javascript %} {{ block.super }} {% endblock javascript %} {% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
