{% extends 'home/base.html' %} {% block nav %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:autos' %}">Autod</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:forklift' %}">Tõstukid</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="{% url 'sales:index' %}">Müük
				<span class="sr-only">(current)</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
		</li>
{% endblock nav %} {% block content %}
	<div class="container bannermargin">
		<div class="row justify-content-center autosmargin">
			<div class="col-md-10 col-lg-6 col-sm-12 col-12">
				<h4 class="white-text text-center wow fadeInRight" data-wow-delay="0.3s">Müük</h4>
				<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
				<div class="card wow fadeInRight text-center" data-wow-delay="0.3s">
					<div class="card-body">
						{% for i in category_list %}
						<a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" href="{% url 'sales:subcat' i.id %}">
					{{i.name}}
					</a>
						{% endfor %}
					</div>
				</div>
				<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s"> {% if page_obj.has_previous %}
				<a class=" wow fadeInRight" data-wow-delay="0.3s" style="float: left; color: #ffffff;" href="?page={{ page_obj.previous_page_number }}">Eelmine</a> {% endif %} {% if page_obj.has_next %}
				<a class=" wow fadeInLeft" data-wow-delay="0.3s" style="float: right; color: #ffffff;" href="?page={{ page_obj.next_page_number }}">Järgmine</a> {% endif %}
			</div>
		</div>
	</div>
{% endblock content %} {% block javascript %} {{ block.super }} {% endblock javascript %} {% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
