{% extends 'home/base.html' %} {% block nav %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'home:autos' %}">Autod</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{% url 'home:forklift' %}">Tõstukid</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{% url 'home:contact' %}">Kontakt</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="{% url 'sales:index' %}">Müük
		<span class="sr-only">(current)</span>
	</a>
</li>
{% endblock nav %} {% block content %}
<div class="container bannermargin">
	<div class="row justify-content-center autosmargin">
		<div class="col-md-8 col-lg-8 col-sm-12 col-12 shadowtext">
			<h4 class="white-text text-center wow fadeInRight" data-wow-delay="0.3s">{{ subcategory }}</h4>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<div class="card wow fadeInRight" data-wow-delay="0.3s">
				<div class="card-body">
					{% if subcategory.product_set.all %}
					{% for entry in subcategory.product_set.all %}
					<div class="row justify-content-center salesmargin" style="font-size:small;">
						{% if entry.image %}
						<div class="col-md-4 col-lg-4 col-sm-12 col-12 text-center shadowtext">
							<img class="mx-auto rounded" src="{{ entry.image.url }}" style="width:100%" />
						</div>
						{% endif %}
						<div class="col-md-8 col-lg-8 col-sm-12 col-12 shadowtext">
							<h4>{{ entry.name }}</h4> {{ entry.content|safe|truncatewords:"50"|linebreaks }}
							<a class="text-secondary" href="{% url 'sales:detail' entry.id %}">
						<a style="color: #ffffff;" href="{% url 'sales:detail' entry.id %}">Loe edasi</a>
						</div>
					</div>
					{% endfor %} {% endif %}
				</div>
			</div>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			<a class="wow fadeInLeft tagasimargin" data-wow-delay="0.3s" style="float: left; color: #ffffff;" href="{% url 'sales:subcat' subcategory.id %}">Tagasi</a>
		</div>
	</div>
</div>
{% endblock content %} {% block script %}
<script>
	new WOW().init();
</script>
{% endblock script %}
